.row {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

.white {
    border: 1px solid black;
    width: 12%;
    height: 60px;
    background-color: white;
    float: left;
}

.black {
    border: 1px solid black;
    width: 12%;
    height: 60px;
    background-color: #787878;
    float: left;
}

.clear {
    clear: both;
}

#footer {
    border: solid 1px;
    padding: 10px;
    margin: 10 0 10 0;
    text-align: center;
    background-color: lightblue;
}

#container {
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
    text-align: center;
}

#title {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: 10 0 10 0;
    width: 100%;
    background-color: lightyellow;
    text-align: center;
    z-index: 10;
    font-family: 'Rock Salt';
}

/* font-family: 'JustLettersMedium';
@font-family: 'Lucida Blackletter'; */
font-family: 'Rock Salt';
font-weight: normal;
font-style: normal;
font-size: 36px;

img {
    margin-left: 5px;
    margin-top: 10px;
}

body {
    background-image: url("http://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
}