body {
	background-image: url("../images/background.jpg");
	text-align: center;
	margin: 0px;
}


h1 {
	font-family: 'Lobster';
	font-weight: normal;
	color: white;
	display: inline;
}

nav {
	font-family: 'Fjalla One';
	font-weight: normal;
	background-color: #3db2c2;
	padding: 0.5em 0;
	overflow: auto;
	height: 50px;
	line-height: 50px;
	margin-bottom: 15px;
}

.nav1 {
	width: 18%;
	float: left;

}

.nav2 {
	width: 78%;
	float: left;

}

a:link {
	color: #483D8B;
	text-decoration: none;
}

a:visited {
color: #008080;
text-decoration: none;
}

a:hover {
color: #1E90FF;
text-decoration: underline;
}

a:active {
color: #FFFAFA;
text-decoration: underline;
}

a.current:link { color: #000000; text-decoration: underline}
a.current:visited { color: #008080; text-decoration: none}
a.current:hover { color: #FFFFFF; text-decoration: none}

img.artifact {
height: auto;  
max-width: 100%; 
border: 1px solid #ddd;
border-radius: 4px;
padding: 5px;
}

img.artifact:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.clear {
clear: both;
}

#content {
	width: 90%;
	margin: auto;
	overflow: auto;
}

.column1, .column2, .column3 {
	width: 31.3%;
	float: left;
	margin: 1%;}

.column3 {
	margin-right: 0%;}

li {
	display: inline;
	padding: 0.5em;}

.article {
	height: 10em;
	margin-bottom: 1em;
	background-color: #efefef;
	padding: .5px;
}

.feature {
	background-color: azure;
	overflow: auto;
}

.left {
	text-align: left;
	margin-left: 5%;
}

.column1 {
	background-color: aliceblue;
}

.column2 {
	background-color: aquamarine;
}

.column3{
	background-color: blue;
}

footer {
	background-color: #B0E0E6;
	padding: 0.5em 0;
	margin: 1%;
}

input {
	width: 100%;
}

 
/*
#title {
position: fixed;
width: 100%;
font-weight: 75%;
}
*/