			* {
				font-family: 'Dancing Script';
				color: #665544;
				text-align: center;}
			body {
				width: 90%;
				margin: 0 auto;
background-image: url("https://anshiichan.github.io/PROG-109/images/liprofile.png");
}
			#content {
				overflow: auto;}
			#nav, #feature, #footer {
				margin: 1%;}
			.column1, .column2, .column3 {
				width: 31.3%;
				float: left;
				margin: 1%;}
			.column3 {
				margin-right: 0%;}
			li {
				display: inline;
				padding: 0.5em;}
			#feature, .article {
				height: 10em;
				margin-bottom: 1em;
				background-color: #efefef;}
section.feature {
background-color: azure;
background-image: url("https://anshiichan.github.io/PROG-109/images/abstract-background.jpg");
}

article.column1 {
background-color: aliceblue;
}

article.column2 {
background-color: aquamarine;
}

article.column3{
background-color: blue;
}

nav {
background-color: #cyan;
				padding: 0.5em 0;
}

footer {
background-color: #cadetblue;
				padding: 0.5em 0;
} 